@import 'import/reset';
@import 'import/variables';
/* @import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables'; */
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';
@import 'old/style';

.feature-img {
  img {
    width: 188px;
    height: 125px;
  }
}
.games {
  li {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
