@import 'import/reset';
@import 'import/variables';
/* @import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables'; */
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';
@import 'old/style';

.feature-img,
img.feature-img {
  img {
    width: 188px;
    height: 125px;
  }
}
.games {
  li {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.header-reg-but-area {
  margin-right: 250px;
}
.nav-menu {
  margin-left: 270px;
}
.games {
  .newlister {
    position: relative;
    img {
      width: 188px;
      height: 125px;
    }
    .play-game,
    .view-demo {
      font-size: 120%;

      position: absolute;
      z-index: 5;

      display: none;

      padding: 10px 20px;

      color: #fff;
      border-radius: 8px;
      &:hover {
        text-decoration: none;

        color: red;
      }
    }
    .play-game {
      top: 30px;
      left: 50px;

      background-color: green;
      &:hover {
        background-color: darken(green, 10%);
      }
    }
    .view-demo {
      top: 75px;
      left: 55px;

      background-color: blue;
      &:hover {
        background-color: darken(blue, 10%);
      }
    }
    &:hover {
      .play-game,
      .view-demo {
        display: block;
      }
    }
  }
}
