html { background:#000!important;} /* This is a fix for Games - The background should be plain black with no grain when browsing the game-module */ 
body#home {background:#000!important;}

/* Fonts */

	#gameContainer .gameBar {
			font-size:0.75em;
		}

	#gamesBrowserSmall {
		line-height:34px;
		font-size:0.75em;
		font-weight:bold;
	}


/* 3. GAMES ---------------------------------------------- */

/* 3:1 Games Frontpage ----------------------------------- */


div#downloadDlc a{
	
}

div#top div.header div.menu div.menu-nav-container ul#menu-nav.menu li.active a {
	color:#fff!important;
}

#gamesContent {
	width:990px;
	margin:0 auto;
}

.gamesMenu {
	width:980px;
	height:50px;
	margin:10px 5px;
	display:none;
}

	.gamesMenu ul {
		height:50px;
		display:block;
	}
	
	.gamesMenu ul li {
		width:140px;
		height:50px;
		float:left;
		display: block;
		text-indent:-999px;
		overflow:hidden;
		cursor:pointer;
	}
	
	.gamesMenu ul li.start {
		background:url('../images/gamesmenu_games.png') no-repeat;
	}
	
	.gamesMenu ul li.cinema {
		background:url('../images/gamesmenu_cinema.png') no-repeat;
	}
	
	.gamesMenu ul li.dlc {
		background:url('../images/gamesmenu_dlc.png') no-repeat;
	}
	
	.gamesMenu ul li.start:hover {
		background:url('../images/gamesmenu_games_selected.png') no-repeat;
	}
	
	.gamesMenu ul li.cinema:hover {
		background:url('../images/gamesmenu_cinema_selected.png') no-repeat;
	}
	
	.gamesMenu ul li.dlc:hover {
		background:url('../images/gamesmenu_dlc_selected.png') no-repeat;
	}

	.gamesMenu ul li.startSelected {
		background:url('../images/gamesmenu_games_selected.png') no-repeat;
	}
	
	.gamesMenu ul li.cinemaSelected {
		background:url('../images/gamesmenu_cinema_selected.png') no-repeat;
	}
	
	.gamesMenu ul li.dlcSelected {
		background:url('../images/gamesmenu_dlc_selected.png') no-repeat;
	}

.gamesPromo {
	width: 980px;
	overflow: hidden;
	margin:10px 5px;
}

.gamesNav {
	background:url('../images/background_gamesnav.png') no-repeat;
	height:36px;
	margin:0 5px;
	display:block;
	margin-top:10px;
}

	.gamesNav ul li {
		float: left;
		line-height:36px;
		text-decoration: none;
		/*background:url('../images/background_gamesnav_sep.png') top left no-repeat;*/
		color:#888;
		padding:0 7px;
		cursor:pointer;
		-webkit-transition: color 0.3s linear;
		-moz-transition: color 0.3s linear;
		-o-transition: color 0.3s linear;
		transition: color 0.3s linear;
	}

	.gamesNav ul li:first-child {
		background:none;
		padding-left:14px;
	}
	
	.gamesNav ul li:hover  {
		text-decoration: none;
		color:#fff;
		-webkit-transition: color 0s linear;
		-moz-transition: color 0s linear;
		-o-transition: color 0s linear;
		transition: color 0s linear;
	}

	.gamesNav ul li.active {
		color:#fff;
	}

.hiddenPage {
    display: none;
}

.gamesSearch {
	float:right;
	width:220px;
}

.gamesSearch form {
	margin-top:8px;
	float:right;
}

	.gamesSearch form label {
		display:none;
	}

	.gamesSearch form input#gameSearcher {
		background:url('../images/background_gamesearch.png') no-repeat top right;
		background-color:#484848;
		border:1px solid #1a1a1a;
		height:21px;
		width:168px;
		color:#fff;
		padding-left:5px;
		margin-left:5px;
		margin-right:10px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-appearance: none; /* Makes the background visible in chrome and safari */
	}

	.gamesSearch span {
		margin-top:7px;
		margin-right:10px;
		float:right;
	}

	
.gamesSubNav {
	margin:0 5px 5px 5px;
	height:35px;
	background:#111111;
	text-align:center;
	display:block;
}

.gamesSubNavPaging {
	text-align:center;
	margin:0 auto;
	padding:10px 13px;
	display:block;
}

	.gamesSubNavPaging ul#pages {
		margin:0 auto;
		width:260px;
		text-align:center;
	}

	.gamesSubNavPaging ul li {
		float:left;
		display:block;
		padding:0 5px;
		cursor:pointer;
	}

	.gamesSubNavPaging li.previous {
		/*background:url('../images/games_arrow_left.gif') no-repeat center left;*/
		padding-left:10px;
		color:#aeaeae;
		cursor:pointer;
	}

	.gamesSubNavPaging li.next {
		/*background:url('../images/games_arrow_right.gif') no-repeat center right;*/
		padding-right:10px;
		color:#fff;
		cursor:pointer;
	}

	.gamesSubNavPaging li.num {
		color:#898989;
		padding:0 5px;
		background:#222222 url('../images/background_page.gif') repeat-x;
		cursor:pointer;
		-moz-border-radius: 50px;
		border-radius: 50px;
		margin:0 2px;
	}

	.gamesSubNavPaging b {
		color:#fff;
		font-weight:bold;
	}
	
	.gamesSubNavPaging .activeNow {
		background:#636363 url('../images/background_page_active.gif') repeat-x!important;
		color:#fff!important;
	}

	.gamesSubNavPaging li.next.active {
		color:#fff!important;
		/*background:url('../images/games_arrow_right_active.gif') no-repeat center right;*/
	}
	
	.gamesSubNavPaging li.previous.active {
		color:#fff!important;
		/*background:url('../images/games_arrow_left_active.gif') no-repeat center left;*/
	}
	
	.gamesSubNavPaging li.previous, .gamesSubNavPaging li.next {
		color:#666;
	}
	
#gamesWrapper {
	width:990px;
	background:url('../images/gameswrapper_background_fade.jpg') top left repeat;
	margin-bottom:5px;
}
	#gamesWrapper ul.games li {
		z-index:5;
 		float:left;
		width:188px;
		height:165px;
		background:none;
		display:block;
		padding:5px;
		cursor:pointer;
	}

        #gamesWrapper ul.games li span {
		width:188px;
		display:block;
	}

        #gamesWrapper ul.allGames li {
		z-index:5;
 		float:left;
		width:188px;
		height:165px;
		background:none;
		display:block;
		padding:5px;
		cursor:pointer;
	}

	#gamesWrapper ul.allGames li span {
		width:188px;
		display:block;
	}


	#gamesBrowserSmall {
		background:url('../images/ingame_gamebrowsersmall_background.png') no-repeat;
		width:960px;
		height:34px;
		margin:10px 5px 5px 5px;
		padding:0 10px;
                overflow:hidden;
	}

/* 3:2 Ingame -------------------------------------------- */

#gameContainer {
	margin:0 auto;
	padding:0;
	width:100%;
	text-align:center;
	display:block;
}

	#gameContainer #gameWrap {
		margin:0 auto;
		text-align:center;
		display:block;
		padding:30px 0;
	}
	
		#gameContainer .middle {
			display:block;
			margin:0 auto;
			text-align:center;
			line-height: 0;
			padding:0;
		}
		
		#gameContainer .gameBar {
			margin-bottom:20px;
			padding:0px;
			text-align:center;
			display: block;
		}
			
			#gameContainer .gameBar ul.navigation {
				height:30px;
				padding:0px;
				line-height:28px;
				margin:0 20px;
				display:block;
			}

				#gameContainer .gameBar ul.navigation li.left a {
					float:left;
					padding-left:10px;
					background:url('../images/gamebar_button_backtogames.png') no-repeat;
					width:91px;
					height:30px;
					text-indent:-999px;
					overflow:hidden;
					display:block;
					margin-left:10px;
				}

				#gameContainer .gameBar ul.navigation li.right a {
					float:right;
					background:url('../images/gamebar_button_fullscreen.png') no-repeat;
					width:77px;
					height:30px;
					text-indent:-999px;
					overflow:hidden;
					display:block;
					margin-right:10px;
				}
				
/* Languages Dropdown */
				
				#gameContainer .gameBar ul.navigation li.trigger a {				
				
				}
				
				.languages {
					margin: 0 auto;
					text-align:center;
					padding: 0;
					background: #000;
					overflow: hidden;
					font-size: 1.2em;
					background:url('../images/transparency.png') repeat;
					width:100%;
					clear: both;
				}
				.languages .block {
					padding: 10px;
				}
					
			#gameContainer .gameBar ul.options {
				height:30px;
				margin:0px;
				padding:0px;
				margin:0 20px;
				text-align:center;
				display:block;
			}

				#gameContainer .gameBar ul.options li {
					display:inline-block;
					width:82px;
					height:30px;
					text-align:center;
					text-indent: -999px;
					overflow: hidden;
					padding-right:10px;
					cursor: pointer;
					-webkit-transition: background 0.3s ease-in-out;
					-moz-transition: background 0.3s ease-in-out;
					-o-transition: background 0.3s ease-in-out;
					transition: background 0.3s ease-in-out;

				}
				
				#gameContainer .gameBar ul.options li.lowroller { background:url('../images/options_lowroller.png') no-repeat; }
				#gameContainer .gameBar ul.options li.standard { background:url('../images/options_standard.png') no-repeat; }
				#gameContainer .gameBar ul.options li.highroller { background:url('../images/options_highroller.png') no-repeat; }
				#gameContainer .gameBar ul.options li.VIP { background:url('../images/options_vip.png') no-repeat; }
				#gameContainer .gameBar ul.options li.o1hand { background:url('../images/options_1hand.png') no-repeat; }
				#gameContainer .gameBar ul.options li.o5hand { background:url('../images/options_5hand.png') no-repeat; } 
				#gameContainer .gameBar ul.options li.o10hand { background:url('../images/options_10hand.png') no-repeat; }
				#gameContainer .gameBar ul.options li.o25hand { background:url('../images/options_25hand.png') no-repeat; }
				#gameContainer .gameBar ul.options li.o50hand { background:url('../images/options_50hand.png') no-repeat; }
				#gameContainer .gameBar ul.options li.o100hand { background:url('../images/options_100hand.png') no-repeat; }

				#gameContainer .gameBar ul.options li:hover {
					background-position:0 -30px;
					-webkit-transition: background 0.3s ease-in-out;
					-moz-transition: background 0.3s ease-in-out;
					-o-transition: background 0.3s ease-in-out;
					transition: background 0.3s ease-in-out;
				}

				#gameContainer .gameBar ul.options li.active {
					background-position:0 -30px!important;
				}
         
/* 3:3 Game Size ----------------------------------------- */

	.w940x530 { width:980px; background:url('../images/gameshadow_940_528.png') top center no-repeat; }

	.w640x480 { width:680px; background:url('../images/gameshadow_640_480.png') top center no-repeat; }
	.w640x480_options { width:680px; background:url('../images/gameshadow_640_480_options.png') top center no-repeat; }

	.w240x320 { width:280px; background:url('../images/gameshadow_240_320.png') top center no-repeat; }
	.w240x320_options { width:280px; background:url('../images/gameshadow_240_320_options.png') top center no-repeat; }

	.w288x480 { width:328px; background:url('../images/gameshadow_288_480.png') top center no-repeat; }
	.w288x480_options { width:328px; background:url('../images/gameshadow_288_480_options.png') top center no-repeat; }

	.w320x240 { width:360px; background:url('../images/gameshadow_320_240.png') top center no-repeat; }
	.w320x240_options { width:360px; background:url('../images/gameshadow_320_240_options.png') top center no-repeat; }

	.w360x480 { width:400px; background:url('../images/gameshadow_360_480.png') top center no-repeat; }
	.w360x480_options { width:400px; background:url('../images/gameshadow_360_480_options.png') top center no-repeat; }

	.w400x500 { width:440px; background:url('../images/gameshadow_400_500.png') top center no-repeat; }
	.w400x500_options { width:440px; background:url('../images/gameshadow_400_500_options.png') top center no-repeat; }
	
	.f640x480 { margin:0 20px; width:640px; height:480px; background:url('../images/gamefullscreen_640_480.jpg') top center no-repeat; }

/* 3:4 Game Information ---------------------------------- */

	.gameInfo {
		background:#12110c url('../images/background_gameinfo.png') no-repeat;
		height:auto;
		padding:20px;
		
	}
	
	.gameInfoTop {
		background:url('../images/gameinfo_bg_top.png') no-repeat center top;
		width:980px;
		height:6px;
		margin:0 5px;
		padding:0;
	}
	
	.gameInfoMiddle {
		background:#13110d url('../images/gameinfo_bg_middle.png') no-repeat center top;
		width:940px;
		height:auto;
		padding:13px 20px;
		margin:0 5px;
	}
	
	.gameInfoBottom {
		background:url('../images/gameinfo_bg_bottom.png') no-repeat center top;
		width:980px;
		height:5px;
		margin:0 5px;
		padding:0;
	}

	.gameInfoMiddle  .left {
		float:left;
		width:210px;
	}
	
	.gameInfoMiddle .right span.type {
		font-size:12px;
		font-weight:bold;
		margin-bottom:7px;
		display: block;
		color:#494948!important;
	}

	.gameInfoMiddle .right {
		float:left;
		color:#a5a5a5!important;
		width:680px;
	}
	
	.gameInfoMiddle .right h6 {
		color:#fff!important;;
		margin-bottom:12px;
	}
	
	.gameInfo .right ul {
		width:129px;
		margin-right:10px;
	}

	.gameInfo .right ul li {
		float:left;
		background:url('../images/gameinfo_bar.png') no-repeat;
		height:22px;
		width:129px;
		overflow:hidden;
		padding-left:10px;
		margin-bottom:10px;
	}

	.gameInfo .right span {
		text-align:right;
		float:right;
		padding-right:15px;
	}

	.gameInfo .right .other {
		background:url('../images/gameinfo_bar_large.png') left top no-repeat;
		height:auto;
		padding:5px 10px 0 10px;
	}

	.gameInfo .right .otherEnd {
		height:5px;
		display:block;
		background:url('../images/gameinfo_bar_large.png') left bottom no-repeat;
	}



#gamesPuff {
	width:100%;
	margin-top:10px;
	text-align:center;
}

	#gamesPuff ul {
		text-align:center;
		margin:0 auto;
		width:990px;
	}

	#gamesPuff ul li {

		overflow:hidden;
		text-indent:-999px;
		cursor:pointer;
		opacity:0.5;
		float:left;
	}

		#gamesPuff ul li.hr a {
			display:block;
			width:320px;
			height:181px;
			background:url('../images/netent-promo-career.png') no-repeat;
		}

		#gamesPuff ul li.cinema a {
			display:block;
			width:320px;
			height:181px;
			margin:0 10px;
			background:url('../images/netent-promo-video.png') no-repeat;	
		}

		#gamesPuff ul li.dlc a {
			display:block;
			width:320px;
			height:181px;
			background:url('../images/netent-promo-dlc.png') no-repeat;
		}

		#gamesPuff ul li:hover {
			background-position:-320px 0;
			opacity:1;
		}


/*  Video stuff ----------------------------------------- */

	.w980x540 { width:980px; background:url('../images/gameshadow_640_480.png') top center no-repeat; }
	.w980x540_options { width:980px; background:url('../images/gameshadow_640_480_options.png') top center no-repeat; }

	#gameContainer #gameWrap_youtube {
		margin:0 auto;
		text-align:center;
		display:block;
		padding:30px 0;
		width:1008px;
		background:url('../images/gameshadow_1008x624.png') top center no-repeat;
	}
		
		#gameContainer .gameBar ul.navigation_youtube li.left a {
			float:left;
			padding-left:0px;
			background:url('../images/gamebar_button_backtogames.png') no-repeat;
			width:91px;
			height:30px;
			text-indent:-999px;
			overflow:hidden;
			display:block;
			margin-top: -4px;
			margin-left:24px;
		}


.scarface_overlay {
	width: 980px;
	height: 528px;
	cursor: pointer;
	text-indent: -9999em;
	background: url('../images/scarface_youtubeoverlay.png') no-repeat;
}

#customerInfo {
	background:url('../images/ingame_gamebrowsersmall_background.png') no-repeat;
	width:960px;
	height:34px;
	margin:10px 5px 0 5px;
	padding:0 10px;
	overflow:hidden;
}

#customerInfo {
	line-height:34px;
	font-size:0.75em;
	font-weight:bold;
}

.customerInfoMiddle {
	background:#13110d url('../images/gameinfo_bg_middle.png') no-repeat center top;
	width:980px;
	margin: 0 5px 0 5px;
	overflow:hidden;
	display: block;	
}

.customerInfoMiddle ul {
	margin: 0;
	padding: 0;	
}

.customerInfoMiddle ul li {
	width: 186px;
	height: 125px;
	float: left;
	margin: 5px;
	opacity: 0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */		
	-webkit-transition: opacity 0.3s linear;
}

.customerInfoMiddle ul li a {
	width: 186px;
	height: 125px;
	display: block;
	overflow: hidden;
}

.customerInfoMiddle ul li:hover {
	width: 186px;
	height: 125px;
	float: left;
	margin: 5px;
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	-webkit-transition: opacity 0s linear;
}

.distance {
	margin-top: 20px;
}

/*  fail. ----------------------------------------- */

#invalidUrl {
	width: 640px;
	height: 480px;
	margin-left: 20px;
	background: url('../images/wrongid.png') top left no-repeat;
	text-indent: -9999em;
}

